name: CI

on:
  push:
    branches: [ "master" ] 
  pull_request:
    branches: [ "master" ] 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Build
        run: gradle clean build

  coverage:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Generate Jacoco Report
        run: gradle jacocoTestReport
      - name: Upload Jacoco Report
        uses: actions/upload-artifact@v2
        with:
          name: jacoco-report
          path: ${{ github.workspace }}/build/reports/jacoco/test

      - name: Jacoco Report to PR
        uses: madrapps/jacoco-report@v1.6.1
        with:
          paths: |
            ${{ github.workspace }}/**/build/reports/jacoco/prodNormalDebugCoverage/prodNormalDebugCoverage.xml,
            ${{ github.workspace }}/**/build/reports/jacoco/**/debugCoverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          update-comment: true
          title: '`Coverage Report`'
          debug-mode: true

  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Run Checkstyle
        uses: nikitasavinov/checkstyle-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: 'github-pr-check'
          tool_name: 'testtool'
          fail_on_error: true
          level: 'error'
