name: CI

on:
  push:
    branches: [ "master" ] 
  pull_request:
    branches: [ "master" ] 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Run Tests and Coverage
        run: ./gradlew clean testCoverage

  jacoco_report:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Upload Report
        uses: actions/upload-artifact@v2
        with:
          name: report.xml
          path: ${{ github.workspace }}/build/reports/jacoco/testCoverage/testCoverage.xml
      - name: Jacoco Report to PR
        id: jacoco
        uses: madrapps/jacoco-report@migration-to-typescript
        with:
          paths: ${{ github.workspace }}/build/reports/jacoco/**/testCoverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: 40
          min-coverage-changed-files: 60
          update-comment: true
          title: '`Coverage Report`'
          debug-mode: true
      - name: Get the Coverage info
        run: |
          echo "Total coverage ${{ steps.jacoco.outputs.coverage-overall }}"
          echo "Changed Files coverage ${{ steps.jacoco.outputs.coverage-changed-files }}"

  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Run Checkstyle
        uses: nikitasavinov/checkstyle-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: 'github-pr-check'
          tool_name: 'testtool'
          fail_on_error: true
          level: 'error'
